// https://opencode.ai/docs/config/
{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
{{- if eq .user.host "personal" }}
    //
    "superpowers@git+https://github.com/obra/superpowers.git",
{{- else if eq .user.host "work" }}
{{- end }}
  ],
  "mcp": {},
  "lsp": true,
  "permission": {
    "external_directory": {
      "~/.config/opencode/**": "allow",
      "~/obsidian-vault/**": "allow",
      "~/.claude/agents/**": "allow",
      "/tmp/**": "allow",
      "~/.local/share/nvim/**": "allow",
    },
    "edit": {
      "~/.local/share/nvim/**": "deny",
    },
  },
  "agent": {},
}
