[merge]
    command = "nvim"
    args = [
        "-d",
        {{ print "{{ .Destination }}" | quote }},
        {{ print "{{ .Source }}" | quote }},
        {{ print "{{ .Target }}" | quote }}
    ]


