[commit]
	gpgsign = true
	verbose = true
[diff]
	tool = codediff
[merge]
	tool = codediff
[mergetool "codediff"]
  cmd = nvim "$MERGED" -c "autocmd User CodeDiffClose qa" -c "CodeDiff merge \"$MERGED\""
[difftool "codediff"]
	cmd = nvim "$LOCAL" "$REMOTE" -c "autocmd User CodeDiffClose qa" +"CodeDiff file $LOCAL $REMOTE"
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[core]
  pager = less -FX
	editor = nvim -f
[pager]
	branch = false

# delta
[include]
  path = ~/.config/delta/themes.gitconfig
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  features = everforest
[merge]
  conflictStyle = zdiff3

[user]
	email = {{ .user.email }}
	name = {{ .user.name }}
{{- if eq .user.host "personal" }}
[user]
	signingkey = ~/.ssh/id_ed25519
{{- else if eq .user.host "work" }}
[user]
	signingkey = ~/.ssh/id_rsa.pub
[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git_hooks
[init]
	defaultBranch = master
{{- end }}
