// https://opencode.ai/docs/config/
{
  "$schema": "https://opencode.ai/config.json",
{{- if eq .user.host "personal" }}
  "plugin": [
    "superpowers@git+https://github.com/obra/superpowers.git",
  ],
  "mcp": {},
{{- else if eq .user.host "work" }}
  "plugin": [],
  "mcp": {
    "Amplitude": {
      "type": "remote",
      "url": "https://mcp.amplitude.com/mcp",
      "enabled": true,
    },
  },
{{- end }}
  "lsp": true,
  "permission": {
    "external_directory": {
      "~/.config/opencode/**": "allow",
      "~/obsidian-vault/**": "allow",
      "~/.claude/agents/**": "allow",
      "/tmp/**": "allow",
      "~/.local/share/nvim/**": "allow",
      "~/.cache/nvim/**": "allow",

      "/private/tmp/mcp-tool-outputs/**": "allow",
      "~/.hubspot/**": "allow",
    },
    "edit": {
      "~/.local/share/nvim/**": "deny",
      "~/.cache/nvim/**": "deny",

      "~/.hubspot/**": "deny",
    },
  },
  "agent": {},
}
