// https://opencode.ai/docs/config/
{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@mohak34/opencode-notifier@latest",
  {{- if eq .user.host "personal" }}
    "superpowers@git+https://github.com/obra/superpowers.git",
    "opencode-models-discovery@latest" // https://github.com/anomalyco/opencode/issues/6231
  {{- else if eq .user.host "work" }}
  {{- end }}
  ],

{{- if eq .user.host "personal" }}
  "mcp": {},
  "lsp": true,
  "provider": {
    "infronai": {
      "name": "Infron AI",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://llm.onerouter.pro/v1",
        "apiKey": "{env:INFRON_API_KEY}",
        "modelsDiscovery": {
          "enabled": true
        }
      }
    }
  },
{{- else if eq .user.host "work" }}
  "mcp": {
    "Amplitude": {
      "type": "remote",
      "url": "https://mcp.amplitude.com/mcp",
      "enabled": true,
    },
  },
  "lsp": {
    "typescript": {
      "command": ["bend", "lsp", "--session-path", "{env:BEND_SESSION_PATH}"],
    },
  },
{{- end }}
  "permission": {
    "external_directory": {
      "/tmp/**": "allow",
      "~/.cache/nvim/**": "allow",
      "~/.claude/agents/**": "allow",
      "~/.config/nvim/**": "allow",
      "~/.config/opencode/**": "allow",
      "~/.git-hooks/**": "allow",
      "~/.local/share/nvim/**": "allow",
      "~/obsidian-vault/**": "allow",

      "/private/tmp/mcp-tool-outputs/**": "allow",
      "~/.hubspot/**": "allow",
    },
    "edit": {
      "~/.cache/nvim/**": "deny",
      "~/.git-hooks/**": "deny",
      "~/.local/share/nvim/**": "deny",

      "~/.hubspot/**": "deny",
    },
  },
  "agent": {},
}
